body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#home {

    position: absolute;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;

}



#heading {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;

}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;

}

h2 {
    font-size: 30px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: fantasy;
    color: black;
}

#all {
    font-weight: bold;
}

#head {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 25px;
}



#head2 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 25px;
}

#head3 {
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 25px;
}

#headc {
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}

#t {
    font-weight: bolder;
    text-decoration-line: underline;
    margin-top: 180px;

}

#details {
    color: white;
}

h4 {
    font-weight: bold;
}

#heading2 {
    font-weight: bold;
    color: fuchsia;
    text-align: center;
}

#bio {

    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;

}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}


.links:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.article:hover {
    color: fuchsia;
}

.header_entrepreneur {
    line-height: 2;
}

.tape {
    cursor: pointer;
}

.tape hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center
}


.tape1 {
    cursor: pointer;
}

.tape1 hr {
    margin-bottom: 10px;
}

.tape2 {
    cursor: pointer;
}

.tape2 hr {
    margin-bottom: 10px;
}

#image1 {
    width: 600px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

#image9 {
    width: 450px;
    height: 400px;
    margin-left: 100px;
    margin-right: 50px;
}

#image2 {
    width: 8000px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

#image3 {
    width: 1000px;
    height: 400px;
    margin-left: 50px;
}

#image4 {
    width: 550px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}


#image5 {
    width: 550px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

#image6 {
    width: 550px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

#margin {
    text-align: left;
    font-size: 25;

}

#adhs {

    font-size: 50;
    color: white;
}

#newhead {

    font-size: 50;
    color: black;
    border: solid;
}

#heading1 {
    color: darkcyan;
    font-size: 20px;
    text-align: justify;
}

#cont iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

#pic {
    width: 330px;
    height: 300px;
}
